* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

@font-face {
    font-family: Roboto__Bold;
    src: url('../Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Poppins__regular;
    src: url('../Fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Roboto__Medium;
    src: url('../Fonts/Roboto-Medium.ttf');
}

/* Hide scrollbar for Chrome, Safari and Opera */

*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body, html {
    /* overflow: hidden; */
    background-color: #83838345;
}

.render-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.render-icon img {
    width: 15%;
    padding: 10px 10px 10px 10px;
}

.render-card h4 {
    font-family: 'Roboto__Bold';
    letter-spacing: 0.03em;
    font-size: calc(18pt + 0.15vw);
}

.render-card p {
    font-family: 'Poppins__regular';
    font-size: calc(11pt + 0.15vw);
    letter-spacing: 0.03em;
}

.ico img {
    width: 50%;
}

@media screen and (max-width: 1080px) {
    .render-icon img {
        width: 23%;
    }
}

@media screen and (max-width: 640px) {
    .render-icon img {
        width: 28%;
    }
}

@media screen and (max-width: 538px) {
    .render-icon img {
        width: 50%;
    }
}

@media screen and (max-width: 320px) {
    .render-icon img {
        width: 40%;
    }
}

section {
    height: 100vh;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px 20px 0px 20px;
}

.render-card {
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: -2rem;
    -webkit-box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.44);
    box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.44);
    background-color: #fff;
    padding: 20px 30px 20px 30px;
}

.CTA-download {
    text-align: center;
}

button {
    border-radius: 4px;
    background-color: #157347;
    border: none;
    color: #fff;
    text-align: center;
    font-size: calc(12pt + 0.15vw);
    padding: 10px 30px 10px 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 0.03em;
    -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    font-family: 'Poppins__regular';
}

button:hover {
    background-color: #157347d4;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

@media screen and (max-width: 538px) {
    .render-card {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

.raters {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.50em 1fr 0.50em 1fr;
    grid-template-columns: repeat(3, 1fr);
    width: 100px;
    grid-gap: 0.50em;
}

.raters img {
    width: 80px;
}

.raters p {
    font-size: calc(10pt + 0.15vw);
    letter-spacing: 0.03em;
    font-family: 'Poppins__regular';
}

.rgrds-div .rgrds {
    font-size: calc(14pt + 0.15vw);
    letter-spacing: 0.03em;
    font-family: 'Roboto__Medium';
}

@media screen and (max-width: 1080px) {
    .breaks {
        display: none;
    }
    .ico img {
        width: 65%;
    }
    .render-card {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .raters img {
        width: 60px;
    }
    .render-card p br {
        display: none;
    }
}
